:root{
    --color1: rgb(151, 204, 47);
    --color2: rgb(131, 169, 56);
    --color3: rgb(52, 124, 185);
    --color4: rgb(31, 185, 198);
    --color5: rgb(151, 204, 47, 0.75);
    --color6: rgb(52, 124, 185, 0.9);
}

@font-face {
  font-family: 'Aracne Condensed Regular'; /* Give it a unique name */
  src: url('fonts/Aracne\ Condensed\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Eldergals Heavy'; /* Give it a unique name */
  src: url('fonts/Eigerdals\ Heavy.OTF') format('truetype');
}

body{
    user-select: none;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Eldergals Heavy";
}

iframe{
    border: none;
    width: 95%;
    height: 80%;
    padding: 5px;
}

.iframe-content{
    display: flex;
    flex-direction: column;
    padding: 30px
}

.iframe-content-center{
    align-items: center;
    justify-content: center;
    height: 80vh;
}

button{
    border: none;
    background-color: var(--color3);
    border-radius: 90px;
    color: white;
    padding: 0.5vw;
    font-size: 120%;
    text-align: center;
    transition: 0.6s cubic-bezier(0.34, 1.76, 0.64, 1);
    font-family: "Eldergals Heavy";
}   

.pod-button{
    font-size: 370%;
}

.pod-window-button{
    font-size: 250%;
}

button:hover{
    background-color: var(--color4);
    scale: 1.3;
    cursor: pointer;
}

.pod-buttons-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 0;
	padding: 0;
	list-style-type: none;
}

@keyframes pod-nav-fade-in{
    from{
        scale: 0;
        filter: blur(30px);
    }
}

.pod-ui{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.pod-nav{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding-right: 70px;
    transition: 0.5s ease-in-out;
}

.pod-nav-fade-in{
    animation-name: pod-nav-fade-in;
    animation-duration: 0.7s;
}

.pod-window{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle, var(--color5), var(--color6));
    transition: 0.4s ease-in-out;
    width: 650px; 
    height: 600px;
    border-radius: 2rem;
}

.pod-window-content{
	display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pod-window-header{
    display: flex;
    justify-content: flex-start; /* Pushes text to the left side */
    align-items: flex-start;     /* Pushes text to the top edge */
    text-align: start;
    font-family: "Aracne Condensed Regular";
    transform: scaleY(1.2);
    font-size: clamp(3.5rem, 3vw, 1.5rem);
    margin: 12px;
}

.polaroid {
    padding-left: 60px;
    position: relative;
    z-index: -1;
}

.polaroid img:first-child {
    width: 200px;
    height: 200px;
}

.polaroid img:last-child {
    position: absolute;
    top: 16px;
    left: 95px;
    width: 140px;
    height: 140px;
    rotate: -1.2deg;
}

 @media only screen and (max-width: 650px) {
    .pod-ui{
    scale: 0.5;
  }
}