@import url("styles/base/globals.css");

/* Overlay screen styling */
.overlay{
    background-image: var(--overlay-gradient);
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 9999;
	user-select: none;
    transition: 0.5s;
}

/* Content container used for placing heading, lines, and buttons */
.overlay-content{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fade-in 0.5s ease-out;
    transition: 0.5s;
}

/* Heading */
.overlay-heading{
    margin-bottom: 15px;
    font-family: "Aracne Condensed Regular";
    color: var(--color-green-500);
    text-align: center;
    font-size: clamp(2rem, 3vw, 3rem);
    transform: scaleY(1.1);
}

/* Overlay p styling used for notes */
.overlay-p{
    overflow-wrap: break-word;
    width: 30%;
    margin-top: 10px;
    text-align: center;
    font-size: clamp(0.9rem, 3vw, 1.3rem);
    font-family: sans-serif;
}

/* Overlay line that is used for creating green dots */
.overlay-line {
    width: min(750px, 90%);
    height: 7px;
    background:
        radial-gradient(circle, var(--color-green-300) 35%, transparent 45%)
        repeat-x;
    background-size: 25px 8px;
    border: none;
}

/* Overlay loading globe icon styling that has bouncy scale up animation */
.overlay-loading-globe-icon{
    position: relative;
    top: 20px;
    animation: globe_scale_up 1.5s ease-out;
    will-change: transform;
}

/* Buttons container */
.overlay-buttons{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

/* Animations */
@keyframes fade-in {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes globe_scale_up{
    0%{scale: 0;}
    10%{scale: 1.5;}
    20%{scale: 0.8;}
    30%{scale: 1.05;}
    35%{scale: 0.85;}
    45%{scale: 1.08;}
    55%{scale: 0.95;}
    60%{scale: 1;}
}