@media only screen and (max-width: 878px) {
    .pod-ui {
        scale: 0.9;
    }
}
@media only screen and (max-width: 790px) {
    .pod-ui {
        scale: 0.8;
    }
}
@media only screen and (max-width: 706px) {
    .pod-ui {
        scale: 0.5;
    }
}
@media only screen and (max-width: 360px) {
    .pod-ui {
        scale: 0.45;
    }
}
